<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>修改信息</title>
<link th:href="@{/css/button.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/form.css}" rel="stylesheet" type="text/css">
</head>
<body>
<section><a th:href="@{/user/logout}">注销</a>&nbsp;&nbsp;您现在的位置：<a th:href="@{/toMain}">首页</a>>&gt;<a>修改个人信息</a></section>
<div id="form" style=" height: 500px; margin-top: 70px;">
<form th:action="@{/emp/empUpdate}" th:each=" employee : ${updateEmp}" method="post" th:object="${emp}">

	<p><label>员工编号</label><input type="text" name="id" th:value="${employee.id}" readonly/></p>
	<p><label>姓名</label><input type="text" name="name" th:value="${employee.name}"/></p>
	<p><label>年龄</label><input type="text" name="age" th:value="${employee.age}"/></p>
	<p><label>性别</label><input type="text" name="sex" th:value="${employee.sex}"/></p>
	<p><label>电话</label><input type="text" name="phone" th:value="${employee.phone}"/></p>
	<p><label>部门</label><input type="text" name="dept" th:value="${employee.dept}"/></p>
	<p><label>工资</label><input type="text" name="salary" th:value="${employee.salary}"/></p>
	<p><label>入职时间</label><input type="text" name="joindate" th:value="${employee.joinDate}" readonly/></p>
	<input type="hidden" name="method" value="update"/>
<p class="submit"><input type="submit"class="bluebuttoncss" value="修改"/></p>
</form>
</div>
<div class="demo_con">
<form th:action="@{/toMain}" method="post">
<button type="submit" class="button blue larrow" >返回首页</button>
</form>
</div>
</body>
</html>