body{ 
background: #f5faff;
}
a{
text-decoration: none;
color: black;
}
 a:hover {color:red}
table.altrowstable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}
table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.altrowstable td {
	width:120px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.oddrowcolor{
    background-color:#d4e3e5;
}
.evenrowcolor{
    background-color:#c3dde0;
}
table tr:nth-child(even){
    background: #7FACD6;
}
table tr:nth-child(odd){
    background: whitesmoke;
}
td {


	font-family: "Adobe ���� Std R";
    font-size: medium;
    text-align:center;


}
table caption{padding:10px 0px;font-size:30px;color:black;}
#link{
    width: 110px;
    height: 30px;
    position:absolute;
    left:75px;  
}
